<link rel="stylesheet" href="/css/dashboard.css" />
<h1>Panel administracyjny profilu firmy {{username}}</h1>
{{#each offers}}
	<div class="offer">
		<p><a class="link" href="/offers/{{this._id}}">{{this.title}} {{this.city}}</a></p>
		<div class="buttons-offer-container">
			<form action="/editoffer" method="post">
				<input type="text" name="offerId" value="{{this._id}}" hidden/>
				<input class="buttons-offer" type="submit" value="Edytuj" />
			</form>
			<form action="/removeoffer" method="post">
				<input type="text" name="offerId" value="{{this._id}}" hidden/>
				<input class="buttons-offer" type="submit" value="Usuń" />
			</form>
		</div>
	</div>
	{{else}}
		<p>Aktualnie nie masz żadnych ogłoszeń :(</p>
{{/each}}
<p><a href="/newoffer"><button class="button">Dodaj ogłoszenie</button></a></p>
<form action="/logout" method="post">
	<p><input class="button" type="submit" value="Wyloguj" /></p>
</form>
