<link rel="stylesheet" href="/css/dashboard.css" />
<h1 class="contrast">Panel administracyjny profilu firmy {{username}}</h1>
<h2 class="contrast">Twoje ogłoszenia:</h2>
{{#each offers}}
<a class="link" href="/offers/{{this._id}}">
	<div class="offer contrast-button">
		<div class="offer-A">
			<span class="offer-title contrast">{{this.title}}</span>
			<p class="offer-info contrast">
				<i class="fas fa-map-marker-alt"></i> {{this.city}}
				<i class="fas fa-briefcase"></i> {{this.industry}}
				<br class="mobile-only">
				<i class="fas fa-clock"></i> {{this.workTime}}
				<i class="fas fa-calendar-alt"></i> Dodano {{formatDate this.timeStamp}}
			</p>
		</div>
		<div class="offer-B">
			<form action="/editoffer" method="post">
				<input type="text" name="offerId" value="{{this._id}}" hidden/>
				<input class="button-edit contrast-button" type="submit" value="EDYTUJ" />
			</form>
			<form action="/removeoffer" method="post">
				<input type="text" name="offerId" value="{{this._id}}" hidden/>
				<input class="button-delete contrast-button" type="submit" value="USUŃ" />
			</form>
		</div>
	</div>
</a>
{{else}}
	<div class="no-offers">Trochę tu pusto... Aktualnie nie masz żadnych ogłoszeń :(</div>
{{/each}}
<p style="text-align:center"><a href="/newoffer"><button class="button contrast-button">DODAJ OGŁOSZENIE</button></a></p>
<form action="/logout" method="post">
	<p style="text-align:center"><input class="button contrast-button" type="submit" value="WYLOGUJ" /></p>
</form>
