<link rel="stylesheet" href="/css/dashboard.css">
<h1>Witaj {{username}}</h1>
{{#each offers}}
	<div class="offer">
		<p><a class="link" href="/offers/{{this._id}}">{{this.title}} - {{this.city}}</a></p>
		<div class="offerButtons">
			<form action="/editoffer" method="post">
				<input type="text" name="offerId" value="{{this._id}}" hidden/>
				<input class="button" type="submit" value="Edytuj" />
			</form>
			<form action="/removeoffer" method="post">
				<input type="text" name="offerId" value="{{this._id}}" hidden/>
				<input class="button" type="submit" value="Usuń" />
			</form>
		</div>
	</div>
	{{else}}
		<p style="margin-top:3vh">Aktualnie nie masz żadnych ogłoszeń.</p>
{{/each}}
<p><a href="/newoffer"><button class="button" style="margin-top:10vh">Dodaj ogłoszenie</button></a></p>
<form action="/logout" method="post">
	<p class="padding"><input class="button" type="submit" value="Wyloguj" /></p>
</form>
