<link rel="stylesheet" href="/css/newoffer.css">
<h1 class="contrast">Edytuj ogłoszenie</h1>
<form action="/updateoffer" method="post">
	<div class="form-A">
		<input type="text" name="_id" value="{{offer._id}}" hidden/>
		<p>Tytuł</p>
		<p><input class="contrast-input" type="text" name="title" value="{{offer.title}}" placeholder="Tytuł ogłoszenia"/></p>
		<p>Opis</p>
		<p><textarea class="contrast-input" name="description" rows="8" cols="80" maxlength="2000" placeholder="Opis ogłoszenia">{{offer.description}}</textarea></p>
		<p>Miejscowość</p>
		<p><input class="contrast-input" type="text" name="city" value="{{offer.city}}" placeholder="Miejscowość""/></p>
		<p>Email kontaktowy</p>
	    <p><input class="contrast-input" type="text" name="email" value="{{offer.email}}" placeholder="Email"/></p>
		<p>Branża</p>
	    <select class="contrast-input" name="industry">
			<option value="1">Architektura, budownictwo</option>
			<option value="2">Biotechnologia</option>
			<option value="3">Chemia</option>
			<option value="4">Doradztwo, consulting</option>
			<option value="5">Edukacja, szkolenia</option>
			<option value="6">Ekologia, energie odnawialne</option>
			<option value="7">Elektronika, elektrotechnika</option>
			<option value="8">Finanse, ubezpieczenia</option>
			<option value="9">Gastronomia</option>
			<option value="10">Handel hurtowy i detaliczny</option>
			<option value="11">Informatyka, IT, internet</option>
			<option value="12">Marketing, reklama</option>
			<option value="13">Media</option>
			<option value="14">Medycyna, farmacja</option>
			<option value="15">Motoryzacja</option>
			<option value="16">Nieruchomości</option>
			<option value="17">Ochrona środowiska</option>
			<option value="18">Paliwa, energia, gaz</option>
			<option value="19">Produkcja - inne</option>
			<option value="20">Rolnictwo</option>
			<option value="21">Rozrywka, kultura, sport</option>
			<option value="22">Sprzęt, maszyny, urządzenia</option>
			<option value="23">Transport, spedycja, logistyka</option>
			<option value="24">Turystyka, hotele</option>
			<option value="25">Usługi - inne</option>
			<option value="26">Inna branża</option>
		</select>
		<p>Wymiar pracy</p>
		<select class="contrast-input" name="workTime">
			<option value="0">Dowolny Wymiar</option>
			<option value="1">Pełny Etat</option>
			<option value="2">Część Etatu</option>
			<option value="3">Praca Czasowa</option>
			<option value="4">Kontrakt</option>
		</select>
	</div>
	<div class="form-B">
		<p><input type="checkbox" name="blind" {{#if offer.blind}} checked {{/if}} /> Akceptujemy osoby niewidome.</p>
		<p><input type="checkbox" name="deaf" {{#if offer.deaf}} checked {{/if}} /> Akceptujemy osoby niesłyszące.</p>
		<p><input type="checkbox" name="wheelchair" {{#if offer.wheelchair}} checked {{/if}} />Akceptujemy osoby poruszające się na wózku inwalidzkim.</p>
		<p><input type="checkbox" name="upperbody" {{#if offer.upperbody}} checked {{/if}} />Akceptujemy osoby z ograniczoną sprawnością kończyn górnych.</p>
		<p style="text-align:center"><input class="contrast-button" type="submit" value="ZAPISZ ZMIANY" /></p>
	</div>
</form>