<link rel="stylesheet" href="/css/offer.css">
<div class="form">
	<h1 class="contrast">{{offerData.title}}</h1>
	<h2 class="contrast">Oferta firmy {{offerData.username}}</h2>
	<div class="info-A">
		<p>Wymiar pracy:</p>
		<p>Miejscowość:</p>
		<p>Email:</p>
	</div>
	<div class="info-B">
		<p>{{offerData.industry}}</p>
		<p>{{offerData.city}}</p>
		<p>{{offerData.email}}</p>
	</div>
	<h3 class="contrast">Opis:</h3>
	<p class="description">{{offerData.description}}</p>
	<h3 class="contrast">Wymagania:</h3>
	<p class="description">{{offerData.requirements}}</p>
	<h3 class="contrast">Oferujemy:</h3>
	<p class="description">{{offerData.benefits}}</p>
	{{#if offerData.blind}}
		<div class="disability-A"><i class="contrast fas fa-eye-slash"></i></div>
		<div class="disability">Sprzyjamy osobom niewidomym.</div>
	{{/if}}
	{{#if offerData.deaf}}
		<div class="disability-A"><i class="contrast fas fa-deaf"></i></div>
		<div class="disability">Sprzyjamy osobom niesłyszącym.</div>
	{{/if}}
	{{#if offerData.wheelchair}}
		<div class="disability-B"><i class="contrast fas fa-wheelchair"></i></div>
		<div class="disability">Sprzyjamy osobom poruszającym się na wózku inwalidzkim.</div>
	{{/if}}
	{{#if offerData.upperbody}}
		<div class="disability-B"><i class="contrast fas fa-child"></i></div>
		<div class="disability">Sprzyjamy osobom z niepełnosprawnościami górnych partii ciała.</div>
	{{/if}}
	
	<p style="text-align:center"><a href="/offers"><button class="contrast-button">POWRÓT DO LISTY OGŁOSZEŃ</button></a></p>

</div>