<link rel="stylesheet" href="/css/offer.css">
<div class="form">
	<h1>{{offerData.title}}</h1>
	<h2>Oferta firmy {{offerData.username}}</h2>
	<p>Wymiar pracy: {{offerData.industry}}</p>
	<p>Miejscowość: {{offerData.city}}</p>
	<p>Email: {{offerData.email}}</p>
	<p class="description">{{offerData.description}}</p>
	{{#if offerData.blind}}
		<p><img src="/img/tick.png" /> Sprzyjamy osobom niewidomym.</p>
	{{/if}}
	{{#if offerData.deaf}}
		<p><img src="/img/tick.png" /> Sprzyjamy osobom niesłyszącym.</p>
	{{/if}}
	{{#if offerData.wheelchair}}
		<p><img src="/img/tick.png" /> Sprzyjamy osobom poruszającym się na wózku inwalidzkim.</p>
	{{/if}}
	{{#if offerData.upperbody}}
		<p><img src="/img/tick.png" /> Sprzyjamy osobom z niepełnosprawnościami górnych partii ciała.</p>
	{{/if}}
</div>