<link rel="stylesheet" href="/css/offer.css">
<div class="form">
	<h1>{{offerData.title}}</h1>
	<h2>Oferta firmy {{offerData.username}}</h2>
	<div class="info-A">
		<p>Wymiar pracy:</p>
		<p>Miejscowość:</p>
		<p>Email:</p>
	</div>
	<div class="info-B">
		<p>{{offerData.industry}}</p>
		<p>{{offerData.city}}</p>
		<p>{{offerData.email}}</p>
	</div>
	<p class="description">{{offerData.description}}</p>
	{{#if offerData.blind}}
		<div class="disability-A"><img src="/img/tick.png" /></div>
		<div class="disability">Sprzyjamy osobom niewidomym.</div>
	{{/if}}
	{{#if offerData.deaf}}
		<div class="disability-A"><img src="/img/tick.png" /></div>
		<div class="disability">Sprzyjamy osobom niesłyszącym.</div>
	{{/if}}
	{{#if offerData.wheelchair}}
		<div class="disability-B"><img src="/img/tick.png" /></div>
		<div class="disability">Sprzyjamy osobom poruszającym się na wózku inwalidzkim.</div>
	{{/if}}
	{{#if offerData.upperbody}}
		<div class="disability-B"><img src="/img/tick.png" /></div>
		<div class="disability">Sprzyjamy osobom z niepełnosprawnościami górnych partii ciała.</div>
	{{/if}}
</div>